
.hour-field {
  padding: 2px 0 2px 4px;
  font-size : 1.1em;
}

.full-hour {
  background : #cceecc
}

/** Style for duration cells (green background). */
.basic-editable {
/*  background-color: #e3ffdc; */
    background-color: #EEE;
}

/** Remove GXT gradient style on panel header. */
.x-panel-header {
	background-image:none;
	background-color: #dfe8f6;
	border-color:#99BBE8;
	color:#15428B;
	font-family:tahoma,arial,verdana,sans-serif;
	font-size:11px;
	font-weight:bold;
	padding: 5px;	
}

.duration-column {
  padding: 3px; font-size: 16px; font-weight: bold;
  /*background-color: #aaee88;*/
}

.empty-duration-column {
  padding: 3px; font-size: 16px; font-weight: bold;
  /*background-color:  #ffe3dc;*/
}

.basic-preview-image {
  float: right;
  margin-right: 5px;
}
